.portifolio{
    /* position:absolute; */
    text-align: center;
    padding-top: 3rem;
    margin-top: 63rem;
}

.port h3{
    font-family: 'Circular Std';
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.006em;
    color: #7BC0E3;
    /* margin-top: 3rem; */

}

.port h1{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #292525;
    margin-top: -0.5rem;
}

.btn{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding-top: 1rem;
    gap: 2rem;
    /* margin-top: 3rem; */
    
}

.btn button{
    width: 290.08px;
    height: 69.51px;
    border: 2px solid #7BC0E3;
    border-radius: 1000px;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #7BC0E3;
    background-color: #FFFFFF;
    cursor: pointer;
    /* margin-top: 1.5rem; */
    
}

.btn button:hover{
    color: #FFFFFF;
    background: #7BC0E3;
    transform: scale(1.1);
}

.btn h3{
    font-size: 20px;
    cursor: pointer; 
}

.btn h3:hover{
    color: #FFFFFF;
    background: #7BC0E3;
    transform: scale(1.1);
    border-radius: 1000px;
    width: 270px;
    height: 55px;
    margin-top: 0rem;
    padding-top: 15px;
}

.circle{
    margin-left: -69.5rem;
}

.circle>img{
    width: 15%;
}

.placeholder{
    /* display: flex; */
    padding-left: 10rem;
    margin-top: -17rem;
    width: 1350px;
}

.cards{
    gap: 5rem;
}

.card{
    width: 430px;
}

.ph>img{
    width: 380px;
    height: 297.09px;
}

.ph p{
    width: 380px;
    height: 111.13px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 17px;
    line-height: 170.2%;
    color: #000000;
    opacity: 0.9;
    text-align: left;
}

/* .arrow{
    display: flex;
    justify-content: space-between;
    margin-top: -32rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    cursor: pointer;
} */

.background{
    width: 1510px;
    height: 437.33px;
    background-color: #60E1CB;
    margin-top: -19rem;
}

.btn2 button{
    width: 211.09px;
    height: 74.67px;
    background: #292525;
    box-shadow: 0px 46px 52px rgba(96, 225, 203, 0.56);
    border-radius: 1000px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    /* text-align: center; */
    color: #FFFFFF;
    margin-top: -5rem;
    border: none;
    cursor: pointer;
}

.btn2 button:hover{
    color: #292525;
    background: #FFFFFF;
    transform: scale(1);
}

.circle2>img{
    width: 15%;
}

.circle2{
    margin-top: -20rem;
    margin-left: -90rem;
}

.circle3>img{
   width: 27%;
   margin-left: 69rem;
}

.circle3{
    margin-top: -16rem;
    /* margin-left: 65rem; */
}
