.line{
    height: 120.74154663085949px;
    width: 4.0000000000000036px;
    border-radius: 1000px;
    background: #7BC0E3;
    transform: rotate(90deg);
    margin-left: 4rem;
    margin-top: 8rem;

}

.textImage{
    display: flex;
    justify-content: space-between;
    padding-left: 9rem;
    padding-right: 2rem;
}   

.bigText{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 150.5%;
    letter-spacing: -0.015em;
    color: #292525;
    width: 689.2177734375px;
    margin-top: -6rem;

}

.bigText h2 span{
    color: #60E1CB;
}

.smallText p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    text-align: justify;
    color: #000000;
    opacity: 0.7;
    height: 93px;
    width: 590px;
    margin-top: -1.5rem;

}

.btn{
    display: flex;
    gap: 20px;
    cursor: pointer; 
}

.btn1 button{
    padding: 14px 24px;
    width: 188px;
    height: 68px;
    background: #60E1CB;
    box-shadow: 0px 46px 52px rgba(96, 225, 203, 0.56);
    border-radius: 1000px;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    border: none;
    cursor: pointer; 
}

.btn1 button:hover{
    background: #FFFFFF;
    color: #60E1CB;
    transform: scale(1.1);
    border: solid 2px ;
}

.btn2 button{
    padding: 14px 24px;
    width: 188px;
    height: 68px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #60E1CB;
    border-radius: 1000px;
    background: #FFFFFF;
    /* border: none; */
    border-color:grey;
    border: solid 1px;
    cursor: pointer; 
}

.btn2 button:hover{
    color: #FFFFFF;
    border-color: gray;
    transform:scale(1.1);
    border: solid 2px ;
    background: #60E1CB;
}


.image>img{
    /* height: 902.26025390625px; */
    width: 700px;
    margin-top: 5rem;
    margin-left: -26rem;
    position: absolute;

}

.bg>img{
    margin-top: 10rem;
    margin-left: 1rem;
    /* position: absolute; */
}

.circle>img{
    margin-top: -3rem;
    margin-left: -4rem;
    width: 500px;
    height: 500px;
    
}
