.theTeam{
    background: url(../../assets/bg_interested.png);
    width: 1513px;
    height: 560px;
}

.team{
    padding-top: 6rem;
    text-align: center;
}

.bigText h2{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 112.5%;
    letter-spacing: -0.015em;
    color: #292525;
}

.smallText p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 157.2%;
    text-align: center;
    color: #292525;
    width: 650px;
    opacity: 0.6;
    margin-left: 30rem;
    margin-top: -2rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    padding: 11rem;
    text-align: center;
    gap: 2rem;
    margin-top: -18rem;
    margin-left: -4rem;
}

.card{
    width: 300px;
    height: 380px;
    background: #FDFDFF;
    box-shadow: 0px 24px 56px rgba(7, 0, 59, 0.12);
    border-radius: 12px;
}

.card h4{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #292525;
}

.card p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: -1rem;
    text-align: center;
    color: #60E1CB;
}

.ellipse{
    width: 120px;
    height: 120px;
    background: #60E1CB;
    opacity: 0.1;
    border-radius: 1000px;
    margin-left: 6rem;
    margin-top: 2rem;
}

.linkedin{
    margin-bottom: 1rem;
}

.btn button{
    width: 166.68px;
    height: 40.6px;
    background: #60E1CB;
    border-radius: 1000px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.team2{
    margin-bottom: 5rem;
}