.what{
    text-align: center;
    background: url(../../assets/bg_interested.png);
    height: 550px;
    width: 1513px;
    margin-top: -2rem;
    /* margin-bottom: 2rem; */

}

.bigText h2{
    font-family: 'Circular Std';
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 112.5%;
    /* text-align: center; */
    letter-spacing: -0.015em;
    color: #292525;
    padding-top: 8rem;
    margin-bottom: -0rem;
    

}

.smallText p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 157.2%;
    /* text-align: center; */
    color: #292525;
    opacity: 0.6;
    width: 685px;
    margin-left: 25rem;
}

