.container{
    text-align: center;
    padding: 2rem;
    margin-top: 30rem;
}

.testimonials{
    /* margin-left: 10rem; */
}

.testimonials p{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.006em;
    color: #7BC0E3;
    margin-top: 7rem;

}

.testimonials h2{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    text-align: center;
    color: #292525;
    margin-top: -1rem;

}

.cards{
    margin-top: -15rem;
    width: 1400px;
    padding-left: 3rem;
}

.innercard{
    width: 810px;
    height: 344.35px;
    background: #FDFDFF;
    box-shadow: 0px 97px 90px rgba(7, 0, 59, 0.12);
    border-radius: 12px;
    text-align: center;
    margin: auto;
    margin-top:-6rem;
    

}

.text{
    text-align: center;
}

.text h3{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.6px;
    color: #000000;
    padding-top: 5rem;
    margin-bottom: 0.5rem;
}

.stars>img{
    width: 207.29px;
    height: 42.23px;
    margin: auto;
    margin-bottom: 0.5rem;
    /* margin-left: 20rem; */
}

.text p{
    width: 801.45px;
    height: 95.95px;
    font-family: 'Circular Std';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 177.2%;
    color: #292525;
    margin: auto;

}

.name{
    /* margin-top: 7rem; */
}

.name>img{
    padding-top: 2.5rem;
    margin: auto;
    
}

.name h4{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #292525;
    margin-top: 0.5rem;
}

.name p{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #60E1CB;
    mix-blend-mode: normal;
    margin-top: -1.5rem;
}

.circleCards>img{
    width: 20%;
    margin-top: -1rem;
    margin-left: -90rem;
    /* padding-top: 5rem; */
}

